{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Agrostar -  Admin</title>

        <!-- Bootstrap Core CSS -->
        <link href="{% static 'startmin-master_backup/css/bootstrap.min.css' %}" rel="stylesheet">

        <!-- MetisMenu CSS -->
        <link href="{% static 'startmin-master_backup/css/metisMenu.min.css' %}" rel="stylesheet">

        <!-- Timeline CSS -->
        <link href="{% static 'startmin-master_backup/css/timeline.css' %}" rel="stylesheet">

        <!-- Custom CSS -->
        <link href="{% static 'startmin-master_backup/css/startmin.css' %}" rel="stylesheet">

        <!-- Morris Charts CSS -->
        <link href="{% static 'startmin-master_backup/css/morris.css' %}" rel="stylesheet">

        <!-- Custom Fonts -->
        <link href="{% static 'startmin-master_backup/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>

        <div id="wrapper">

            <!-- Navigation -->
            <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" style="position: fixed;">
                <div class="navbar-header">
                    <a class="navbar-brand" href="index.html"><img src="../img/logo-white-200x53.png" class="img-responsive" style="width: 100px;"></a>
                </div>

                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <!--<ul class="nav navbar-nav navbar-left navbar-top-links">
                    <li><a href="#"><i class="fa fa-home fa-fw"></i> Website</a></li>
                </ul>-->

                <ul class="nav navbar-right navbar-top-links">
                    <li class="dropdown navbar-inverse">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-bell fa-fw"></i> <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu dropdown-alerts">
                            <li>
                                <a href="#">
                                    <div>
                                        <i class="fa fa-comment fa-fw"></i> New Comment
                                        <span class="pull-right text-muted small">4 minutes ago</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div>
                                        <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                                        <span class="pull-right text-muted small">12 minutes ago</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div>
                                        <i class="fa fa-envelope fa-fw"></i> Message Sent
                                        <span class="pull-right text-muted small">4 minutes ago</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div>
                                        <i class="fa fa-tasks fa-fw"></i> New Task
                                        <span class="pull-right text-muted small">4 minutes ago</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div>
                                        <i class="fa fa-upload fa-fw"></i> Server Rebooted
                                        <span class="pull-right text-muted small">4 minutes ago</span>
                                    </div>
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a class="text-center" href="#">
                                    <strong>See All Alerts</strong>
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-user fa-fw"></i> secondtruth <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                            </li>
                            <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                            </li>
                            <li class="divider"></li>
                            <li><a href="login.html"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <!-- /.navbar-top-links -->

                <div class="navbar-default sidebar" role="navigation">
                    <div class="sidebar-nav navbar-collapse">
                        <ul class="nav" id="side-menu">
                            <!--<li class="sidebar-search">
                                <div class="input-group custom-search-form">
                                    <input type="text" class="form-control" placeholder="Search...">
                                    <span class="input-group-btn">
                                        <button class="btn btn-primary" type="button">
                                            <i class="fa fa-search"></i>
                                        </button>
                                </span>
                                </div>
                              
                            </li>-->
                            <li>
                                <a href="index.html" class="active"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                            </li>
                            <li>
                                <a href=""><i class="glyphicon glyphicon-user text-primary"></i>&nbsp; User Management<span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level">
                                    <li>
                                        <a href="User_user_mng.html">View / Delete Users</a>
                                    </li>
                                    <li>
                                        <a href="User_user_add.html">Add User</a>
                                    </li>
                                </ul>
                                <!-- /.nav-second-level -->
                            </li>
                          

                             <li>
                                <a href="#"><i class="fa fa-shopping-bag text-primary"></i>&nbsp; Product Management<span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level">
                                    <li>
                                        <a href="Product_product_mng.html">View / Update / Delete Product</a>
                                    </li>
                                    <li>
                                        <a href="Product_product_add.html">Add Product</a>
                                    </li>
                                </ul>
                                <!-- /.nav-second-level -->
                            </li>


                            <li>
                                <a href="Order_Management.html"><i class="fa fa-shopping-cart text-primary">&nbsp;</i> Order Management</a>
                            </li>
                             <li>
                                <a href="Review_Management.html"><i class="fa fa-edit text-primary">&nbsp;</i> Review Management</a>
                            </li>

                            
                              <li>
                                <a href="Feedback_Management.html"><i class="fa fa-paper-plane-o text-primary">&nbsp;</i> Feedback Management</a>
                            </li>

                             <li>
                                <a href="Contact_Us.html"><i class="fa fa-reply text-primary">&nbsp;</i> Contact Us Management</a>
                            </li>

                          
                        </ul>
                    </div>
                </div>
            </nav>
            </div>
            {% block body %}{% endblock %}
        <!-- /#wrapper -->

        <!-- jQuery -->
        <script src="{% static 'startmin-master_backup/js/jquery.min.js' %}"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="{% static 'startmin-master_backup/js/bootstrap.min.js' %}"></script>

        <!-- Metis Menu Plugin JavaScript -->
        <script src="{% static 'startmin-master_backup/js/metisMenu.min.js' %}"></script>

        <!--Morris Charts JavaScript -->
        <!--<script src="../js/raphael.min.js"></script>
        <script src="../js/morris.min.js"></script>
        <script src="../js/morris-data.js"></script>-->

        <!-- Custom Theme JavaScript -->
        <script src="{% static 'startmin-master_backup/js/startmin.js' %}"></script>
         <script src="{% static 'startmin-master_backup/js/canvasjs.min.js' %}"></script>

        <!--Script for barchart-->
        <script>
             //bar
            var columnChartValues = [{
  y: 686.04,
  label: "one",
  color: "#1f77b4"
}, {
  y: 381.84,
  label: "two",
  color: "#ff7f0e"
}, {
  y: 375.76,
  label: "three",
  color: " #ffbb78"
}, {
  y: 97.48,
  label: "four",
  color: "#d62728"
}, {
  y: 94.2,
  label: "five",
  color: "#98df8a"
}, {
  y: 65.28,
  label: "Hi",
  color: "#bcbd22"
}, {
  y: 51.2,
  label: "Hello",
  color: "#f7b6d2"
}];
renderColumnChart(columnChartValues);

function renderColumnChart(values) {

  var chart = new CanvasJS.Chart("columnChart", {
    backgroundColor: "white",
    colorSet: "colorSet3",
    title: {
      text: "No Of Visitors",
      fontFamily: "Verdana",
      fontSize: 25,
      fontWeight: "normal",
    },
    animationEnabled: true,
    legend: {
      verticalAlign: "bottom",
      horizontalAlign: "center"
    },
    theme: "theme2",
    data: [

      {
        indexLabelFontSize: 15,
        indexLabelFontFamily: "Monospace",
        indexLabelFontColor: "darkgrey",
        indexLabelLineColor: "darkgrey",
        indexLabelPlacement: "outside",
        type: "column",
        showInLegend: false,
        legendMarkerColor: "grey",
        dataPoints: values
      }
    ]
  });

  chart.render();
}
        </script>

    </body>
</html>


