{% extends 'layout.html' %}
	
  {% block body %}

  
  <div class="account-page">
  	<div class="profile">
  		<div class="profile-detail">
  		<h2>Rajat Parmar</h2>
  		 <p>rajatparmar28@gmail.com</p>
  		 </div>
  		 <ul>
  		 <li><a href="profile.html">Account<span>></span></a></li>
  		 <li><a href="profile.html">Account<span>></span></a></li>
  		 <li><a href="profile.html">Account<span>></span></a></li>
  		 <li><a href="profile.html">Account<span>></span></a></li>
  		 <li><a href="profile.html">Account<span>></span></a></li>	
  		 	</ul>

  		</div>
  	</div>
  </div>

{% endblock %}
